#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-9 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-i .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-s .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-s .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
